<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home Pages</title>
  <!--/*/<th:block th:insert="~{layout.html :: documentHead}"/>/*/-->
</head>
<body>
<main>
  <h1>Test</h1>
  <hr>
  <div>Show page <span th:text="${pagination.page}"/> items <span th:text="${pagination.start}"/> - <span th:text="${pagination.end}"/></div>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr th:each="item : ${items}">
      <td th:text="${item.id}">ID</td>
      <td th:text="${item.timestamp}">timestamp</td>
      <td th:text="${item.username}">username</td>
    </tr>
  </table>
  <div th:if="${pagination.showSize}">
    <span th:if="${pagination.first}">Previous</span>
    <a th:unless="${pagination.first}" th:href="@{'/account/page-' + ${pagination.previous} + '/show-' + ${size}}">Previous</a>
    <a th:if="${pagination.hasMore}" th:href="@{'/account/page-' + ${pagination.next} + '/show-' + ${size}}">Next</a>
    <span th:unless="${pagination.hasMore}">Next</span>
  </div>
  <div th:unless="${pagination.showSize}">
    <span th:if="${pagination.first}">Previous</span>
    <a th:unless="${pagination.first}" th:href="@{'/account/page-' + ${pagination.previous}}">Previous</a>
    <a th:if="${pagination.hasMore}" th:href="@{'/account/page-' + ${pagination.next}}">Next</a>
    <span th:unless="${pagination.hasMore}">Next</span>
  </div>
  <br>
  <a href="/logout">Logout</a>
</main>
<!--/*/<th:block th:replace="~{layout.html :: script}"/>/*/-->
</body>
</html>
