<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hlæja Management</title>
  <th:block th:replace="~{layout.html :: metadata}"/>
</head>
<body class="bg-gray-900 text-green-400 min-h-screen flex flex-col">
<th:block th:replace="~{layout.html :: header}"/>
<!-- Main Content -->
<main class="container mx-auto p-4 flex-grow">
  <div class="mt-4">
    <div class="bg-gray-800 p-4 rounded-lg border border-green-900">
      <h2 class="text-base sm:text-lg mb-2 terminal-glow">Lorem Ipsum</h2>
      <div class="text-green-600 space-y-4 leading-relaxed text-sm sm:text-base">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque interdum tortor. Etiam odio est, dignissim sit amet iaculis a, scelerisque eget purus. Ut laoreet turpis quis velit cursus, quis tincidunt leo molestie. Suspendisse tincidunt nibh nec ullamcorper placerat. Nullam a porttitor erat. Duis ac tristique massa, vel dapibus dui. Aliquam auctor nisi fermentum, consectetur eros vitae, dictum ante. Vivamus vel justo elit. Nullam non risus sit amet ante interdum iaculis ultricies at urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ultrices nulla et nunc lobortis, ut malesuada sapien lobortis. Mauris varius elit non quam imperdiet interdum. Vivamus lacus nisl, aliquet vitae nunc at, sodales aliquam felis. In elit dolor, accumsan a accumsan id, elementum non mi. Proin sit amet mollis quam.</p>
        <p>Praesent pretium, lorem ac pulvinar consequat, neque sem dapibus mauris, in viverra tortor felis laoreet libero. Donec auctor tristique tellus non consequat. Proin elit ipsum, aliquet ut auctor ac, faucibus eu enim. Ut venenatis, nunc vitae feugiat consequat, nunc turpis dapibus erat, in feugiat magna mi sit amet nulla. Etiam quam ipsum, dignissim non purus quis, interdum consectetur eros. Aliquam faucibus arcu mauris. Donec sed consequat quam. Fusce lectus ex, consequat eu fringilla non, lobortis ac nulla. Nunc a purus dictum, consectetur augue et, blandit quam.</p>
        <p>Duis posuere, nibh ac euismod dapibus, magna odio interdum ipsum, nec pulvinar est arcu id urna. Cras sit amet massa arcu. Vestibulum eu sapien sit amet eros condimentum egestas sit amet a massa. Nulla non mauris sit amet enim facilisis sodales a et sapien. Donec vestibulum dolor mollis dignissim dignissim. Sed vel nunc turpis. Suspendisse potenti.</p>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="~{layout.html :: footer}"/>
<th:block th:replace="~{layout.html :: script}"/>
</body>
</html>
